<h1><%= t(".title") %></h1>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">求人管理にお困りですか？</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">私たちは、求人管理を効率化するためにこのアプリケーションを作りました。是非、フィードバックしてください。注意：このアプリケーションは研修用です。</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to t(".sign_up"), new_user_registration_path, class: "btn btn-primary btn-lg px-4 gap-3" %>
      <%= link_to t(".sign_in"), new_user_session_path, class: "btn btn-secondary btn-lg px-4 gap-3" %>
    </div>
  </div>
</div>

<%= session.to_hash %>