<footer class="footer mt-auto py-3 bg-body-tertiary border-top">
  <div class="container d-flex justify-content-between mx-auto text-muted">
    <span>&copy; <%= Date.today.year %> <%= Settings.business_name %></span>
    <ul class="d-inline float-end list-inline mb-0">
      <li class="list-inline-item"><%= link_to t(".terms"), terms_path, class: "nav-link" %></li>
      <li class="list-inline-item"><%= link_to t(".privacy"), privacy_path, class: "nav-link" %></li>
    </ul>
  </div>
</footer>
