<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h2"><%= t(".title") %></h1>
  <%= link_to t("new"), new_account_department_path(@account), class: "btn btn-primary" %>
</div>