<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="h2"><%= t(".title") %></h1>
  <%= link_to t("new"), new_account_job_pipeline_path(@account), class: "btn btn-primary" %>
</div>

<div id="departments">
  <div class="table table-hover table-fixed">
    <table class="table table-hover table-fixed">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="align-middle">
        <% @job_pipelines.each do |job_pipeline| %>
          <tr>
            <td><%= link_to job_pipeline.name, [@account, job_pipeline], class: "btn btn-link fixed-link", title: job_pipeline.name %></td>
            <td class="fixed-text">
              <% if job_pipeline.is_default? %>
                <span class="badge bg-secondary"><%= JobPipeline.human_attribute_name(:is_default) %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>